In [1]:
cd ..

/Users/dorislee/Desktop/Research/lux/dorisjlee_fork

In [2]:
import lux
import pandas as pd

In [3]:
lux.__file__

'/Users/dorislee/Desktop/Research/lux/dorisjlee_fork/lux/__init__.py'

In [4]:
df = pd.read_csv("../lux-datasets/data/car.csv")

In [5]:
import ray
ray.init(num_cpus=1)

2020-11-05 20:13:40,681	INFO resource_spec.py:212 -- Starting Ray with 10.16 GiB memory available for workers and up to 5.08 GiB for objects. You can adjust these settings with ray.init(memory=<bytes>, object_store_memory=<bytes>).
2020-11-05 20:13:40,905	WARNING services.py:923 -- Redis failed to start, retrying now.
2020-11-05 20:13:41,147	INFO services.py:1165 -- View the Ray dashboard at localhost:8265

{'node_ip_address': '192.168.8.110',
 'raylet_ip_address': '192.168.8.110',
 'redis_address': '192.168.8.110:6379',
 'object_store_address': '/tmp/ray/session_2020-11-05_20-13-40_673634_4161/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2020-11-05_20-13-40_673634_4161/sockets/raylet',
 'webui_url': 'localhost:8265',
 'session_dir': '/tmp/ray/session_2020-11-05_20-13-40_673634_4161'}

In [6]:
df

/Users/dorislee/Desktop/Research/lux/dorisjlee_fork/lux/executor/PandasExecutor.py:390: UserWarning:
Lux detects that the attribute 'Year' may be temporal.
In order to display visualizations for this attribute accurately, temporal attributes should be converted to Pandas Datetime objects.

Please consider converting this attribute using the pd.to_datetime function and providing a 'format' parameter to specify datetime format of the attribute.
For example, you can convert the 'month' attribute in a dataset to Datetime type via the following command:

	 df['month'] = pd.to_datetime(df['month'], format='%m')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

  self.compute_data_type(ldf)

Actor(Vis, 45b95b1c0100)
Actor(Vis, ef0a6c220100)
Actor(Vis, f66d17ba0100)
Actor(Vis, 44ee453c0100)
Actor(Vis, 7e0a4dfc0100)
Actor(Vis, 6f53dca10100)
Actor(Vis, 6170691e0100)
Actor(Vis, cd8f56890100)
Actor(Vis, 55c3b2b60100)
Actor(Vis, 9fc77bf30100)
Actor(Vis, 9d28cb170100)
Actor(Vis, 15c675b20100)
Actor(Vis, 8603ac100100)
Actor(Vis, 276fa5c90100)
Actor(Vis, 2ca539020100)
Actor(Vis, 876814b80100)
Actor(Vis, 7dec85640100)
Actor(Vis, 0bead1160100)
Actor(Vis, b944ee5b0100)
Actor(Vis, 2a124e200100)
Actor(Vis, 8e3e47920100)
Actor(Vis, 169cae520100)
Actor(Vis, a1651cc50100)
Actor(Vis, a000cd7e0100)
Actor(Vis, 70b16fe80100)
Actor(Vis, c0ec45020100)
Actor(Vis, c7f560d40100)
Actor(Vis, fd0a71290100)
Actor(Vis, 71e6fe670100)
Actor(Vis, 7139da310100)
Actor(Vis, 4c7ae8aa0100)
Actor(Vis, 24bd907e0100)
Actor(Vis, 787a210e0100)
Actor(Vis, c2dcf2f80100)
recinfolist []
rec_lst []
after get rec_lst []

/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/IPython/core/formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.
  return method()

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,1970,USA
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,1970,USA
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,1970,USA
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,1970,USA
4,ford torino,17.0,8,302.0,140,3449,10.5,1970,USA
...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,1982,USA
388,vw pickup,44.0,4,97.0,52,2130,24.6,1982,Europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,1982,USA
390,ford ranger,28.0,4,120.0,79,2625,18.6,1982,USA
391,chevy s-10,31.0,4,119.0,82,2720,19.4,1982,USA